<div fxLayout="column">
  <div class="panel dform-child-content">
    <div class="panel-body pdb-5">
      <form class="panel-body panel-padding" [formGroup]="form" fxLayout="row wrap" (ngSubmit)="search()">
        <sm-select-control [item]="reportType" fxFlex="50" [form]="form"></sm-select-control>
        <sm-date-control [item]="reportDate" fxFlex="50" [form]="form"></sm-date-control>
        <sm-date-control *ngIf="isShowCompareDate" [item]="compareDate" fxFlex="50" [form]="form"></sm-date-control>
        <div fxLayoutAlign="end center">
            <button *ngIf="dataSource?.data?.length" type="button" fxFlex="25" class="btn btn-primary mrr-2" (click)="exportExcel()">
                <mat-icon> import_export</mat-icon>
                <span>Xuất excel</span>
            </button>
            <button type="submit" fxFlex="25" class="btn btn-primary mrr-2">
                <mat-icon class="mbb-icon mrl-2">search</mat-icon>
                <span>Tìm kiếm</span>
            </button>
        </div>
      </form>
    </div>
  </div>


  <div *ngIf="hasDataSource">

    <div *ngIf="showtable == BC_TYPE.BC7">
      <app-table-BC7
        [dataSource]="dataSource"
        [reportDate]="form?.controls?.reportDate?.value"
        [compareDate]="form?.controls?.compareDate?.value">
      </app-table-BC7>
    </div>
  
    <div *ngIf="showtable == BC_TYPE.BC8">
      <app-table-bc8
        [dataSource]="dataSource"
        [displayedColumns]="displayedColumns"
        [listColumnGroup]="listColumnGroup">
      </app-table-bc8>
    </div>
  
    <div *ngIf="showtable != BC_TYPE.BC7 && showtable != BC_TYPE.BC8">
      <app-table-info-shareholder
        class="table-info"
        [displayedColumns]="displayedColumns"
        [dataSource]="dataSource"
        [hasDataSource]="hasDataSource">
      </app-table-info-shareholder>
    </div>
  </div>

  <div class="panel-footer">
    <dform-pagination-plus class="fullWidth" #pagePage showPageSelect [pageIndex]="pageIndex"
        (page)="ChanePageIndex($event);" [totalItem]="totalItem" [pageSize]="pageSize" [showPageSizeList]="true"
        [isLoadServer]="true" [pageSizeList]="[10, 20, 50, 100]">
    </dform-pagination-plus>
  </div>
</div>

<div class="panel">
  <app-no-data *ngIf="hasDataSource === false"></app-no-data>
</div>