<div fxLayout="column" class="dform-child-content">
    <h2 class="title-page">{{ 'Thông tin Import' | translate }}</h2>
    <div class="panel panel-bottom">
        <div class="panel-body pdb-5">
            <form class="panel-body panel-padding" [formGroup]="form" fxLayout="row wrap" (ngSubmit)="search()">
              <sm-text-control [item]="createdBy" fxFlex="50" [form]="form"></sm-text-control>
              <sm-text-control [item]="fileName" fxFlex="50" [form]="form"></sm-text-control>
              <sm-date-control [item]="importDateFrom" fxFlex="50" [form]="form"></sm-date-control>
              <sm-date-control [item]="importDateTo" fxFlex="50" [form]="form"></sm-date-control>
              <sm-select-control [item]="groupType" fxFlex="50" [form]="form"></sm-select-control>
              <div fxLayoutAlign="end center">
                <button type="submit" fxFlex="25" class="btn btn-primary mrr-2">
                  <mat-icon class="mbb-icon mrl-2">search</mat-icon>
                  <span>Tìm kiếm</span>
                </button>
              </div>
            </form>
        </div>
    </div>
    
    
    <div class="panel-body-table">
        <div class="table-over">
          <table class="dform-table table-info w-full table-service service-table" mat-table
          [dataSource]="dataSource" matSort [@.disabled]="true">
            
            <ng-container matColumnDef="stt">
              <th mat-header-cell *matHeaderCellDef class="df-min-3 text-left">{{'STT'}}</th>
              <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-3">
                  <div class="padding-cell-item">
                      <span>
                          {{ element.stt }} 
                      </span>
                  </div> 
              </td>
            </ng-container>
    
            <ng-container matColumnDef="fileName">
                <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Tên file'}}</th>
                <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
                    <div class="padding-cell-item">
                        <span>
                            {{ element.fileName }} 
                        </span>
                    </div> 
                </td>
              </ng-container>

              <ng-container matColumnDef="importDate">
                <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Ngày import'}}</th>
                <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
                    <div class="padding-cell-item">
                        <span>
                            {{ element.importDate }} 
                        </span>
                    </div> 
                </td>
              </ng-container>
           
              <ng-container matColumnDef="createdBy">
                <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Người import'}}</th>
                <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
                    <div class="padding-cell-item">
                        <span>
                            {{ element.createdBy }} 
                        </span>
                    </div> 
                </td>
              </ng-container>

              <ng-container matColumnDef="isWarning">
                <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Cảnh báo'}}</th>
                <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
                    <div class="padding-cell-item">
                        <span>
                            {{ element.isWarning == 1 ? 'Cảnh báo' : '' }} 
                        </span>
                    </div> 
                </td>
              </ng-container>

              <ng-container matColumnDef="note">
                <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Chú thích'}}</th>
                <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
                    <div class="padding-cell-item">
                        <span>
                            {{ element.note }} 
                        </span>
                    </div> 
                </td>
              </ng-container>

              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef class="df-min-3 text-left"></th>
                <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
                    <div class="padding-cell-item">
                        <button style="cursor: pointer;" mat-icon-button class="material-icons app-toolbar-menu delete-button fc-error"
                            matTooltip="Tải xuống" color="warn" (click)="onDownload(element)">
                            <mat-icon>cloud_download</mat-icon>
                        </button>
                    </div> 
                </td>
              </ng-container>
    
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>
    </div>

    <div class="panel-footer">
        <dform-pagination-plus class="fullWidth" #pagePage showPageSelect [pageIndex]="pageIndex"
            (page)="ChanePageIndex($event);" [totalItem]="totalItem" [pageSize]="pageSize" [showPageSizeList]="true"
            [isLoadServer]="true" [pageSizeList]="[10, 20, 50, 100]">
        </dform-pagination-plus>
      </div>
</div>

<div class="panel">
    <app-no-data *ngIf="hasDataSource === false"></app-no-data>
</div>
