<div class="panel-body-table">
    <div class="table-over example-container">
      <table class="dform-table table-info w-full table-service service-table" mat-table
      [dataSource]="dataSource" matSort [@.disabled]="true">

        <ng-container matColumnDef="stt">
          <th mat-header-cell *matHeaderCellDef class="df-min-3 text-left">{{'STT'}}</th>
          <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-3">
            <div class="padding-cell-item">
              <span [ngClass]=" (element?.parentId && !element?.soDksh) ? 'column-absolute top-padding': ''">
                {{ element?.stt }} 
              </span>
            </div> 
          </td>
        </ng-container>

        <ng-container matColumnDef="cdLon">
          <th mat-header-cell *matHeaderCellDef class="df-min-15 text-left">{{'Cổ đông lớn'}}</th>
          <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-15">
            <div class="padding-cell-item">
              <span [ngClass]=" (element?.parentId && !element?.soDksh) ? 'column-absolute top-padding': ''">
                {{ element?.cdLon }} 
              </span>
            </div> 
          </td>
        </ng-container>

        <ng-container matColumnDef="nguoiLienQuan">
          <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Người liên quan'}}</th>
          <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
            <div class="padding-cell-item">
              <span>
                {{ element?.nguoiLienQuan }} 
              </span>
            </div> 
          </td>
        </ng-container>

        <ng-container matColumnDef="tenNguoiDaiDienVon">
          <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Tên người đaị diện vốn'}}</th>
          <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
            <div class="padding-cell-item">
              <span>
                {{ element?.tenNguoiDaiDienVon }} 
              </span>
            </div> 
          </td>
        </ng-container>

        <ng-container matColumnDef="diaChi">
          <th mat-header-cell *matHeaderCellDef class="df-min-15 text-left">{{'Địa chỉ'}}</th>
          <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-15">
            <div class="padding-cell-item">
              <span>
                {{ element?.diaChi }} 
              </span>
            </div> 
          </td>
        </ng-container>

        <ng-container matColumnDef="soDksh">
          <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Số DKSH'}}</th>
          <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
            <div class="padding-cell-item">
              <span>
                {{ element?.soDksh }} 
              </span>
            </div> 
          </td>
        </ng-container>

        <ng-container matColumnDef="ngayCap">
          <th mat-header-cell *matHeaderCellDef class="df-min-12 text-left">{{'Ngày cấp'}}</th>
          <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-12">
            <div class="padding-cell-item">
              <span>
                {{ element?.ngayCap }} 
              </span>
            </div> 
          </td>
        </ng-container>

        <ng-container matColumnDef="noiCap">
          <th mat-header-cell *matHeaderCellDef class="df-min-12 text-left">{{'Nơi cấp'}}</th>
          <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-12">
            <div class="padding-cell-item">
              <span>
                {{ element?.noiCap }} 
              </span>
            </div> 
          </td>
        </ng-container>

        <ng-container matColumnDef="chucVuTaiDonVi">
          <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'Chức vụ tại đơn vị'}}</th>
          <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
            <div class="padding-cell-item">
              <span>
                {{ element?.chucVuTaiDonVi }} 
              </span>
            </div> 
          </td>
        </ng-container>

        <ng-container matColumnDef="cmtNguoiDaiDien">
          <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'CMT người đại diện'}}</th>
          <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
            <div class="padding-cell-item">
              <span>
                {{ element?.cmtNguoiDaiDien }} 
              </span>
            </div> 
          </td>
        </ng-container>

        <ng-container matColumnDef="moiQuanHe">
          <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'Mối quan hệ'}}</th>
          <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
            <div class="padding-cell-item">
              <span>
                {{ element?.moiQuanHe }} 
              </span>
            </div> 
          </td>
        </ng-container>

        <ng-container matColumnDef="nganhNghe">
          <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'Ngành nghề'}}</th>
          <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
            <div class="padding-cell-item">
              <span>
                {{ element?.nganhNghe }} 
              </span>
            </div> 
          </td>
        </ng-container>

        <ng-container matColumnDef="tyLeSoHuuCdlonTaiDonVi">
          <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'tỷ lệ sở hữu cổ đông lớn tại tổ chức liên quan (%)'}}</th>
          <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
            <div class="padding-cell-item">
              <span>
                {{ element?.tyLeSoHuuCdlonTaiDonVi }} 
              </span>
            </div> 
          </td>
        </ng-container>

        <ng-container matColumnDef="soHuuMbb">
          <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'Sở hữu MBB'}}</th>
          <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
            <div class="padding-cell-item">
              <span>
                {{ element?.soHuuMbb | mbbCurrency }} 
              </span>
            </div> 
          </td>
        </ng-container>

        <ng-container matColumnDef="tyLe">
          <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'Tỷ lệ'}}</th>
          <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
            <div class="padding-cell-item">
              <span>
                {{ element?.tyLe }} 
              </span>
            </div> 
          </td>
        </ng-container>

        <ng-container matColumnDef="action" stickyEnd>
          <th mat-header-cell *matHeaderCellDef class="df-min-5 text-left"></th>
          <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-5">
            <div class="padding-cell-item" fxLayout="row" *ngIf="element.id">
              <button mat-icon-button class="material-icons app-toolbar-menu save-button fc-primary"
                matTooltip="Edit" color="primary" (click)="onEdit(element)">
                <mat-icon>edit</mat-icon>
              </button>

              <button mat-icon-button class="material-icons app-toolbar-menu delete-button fc-error"
                  matTooltip="Delete" color="warn" (click)="onDelete(element)">
                  <mat-icon>delete</mat-icon>
              </button>
            </div> 
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="position: relative; height: 80px !important;" [ngClass]=" (!row?.parentId && row?.soDksh) ? 'bg-warning': (row?.parentId && !row?.soDksh && !row?.deMuc ? 'bg-gray-300' : (row?.parentId && !row?.soDksh && row?.deMuc ? 'bg-gray-200' : ''))"></tr>
      </table>
    </div>
</div>