<div class="panel-body-table">
    <div class="table-over">
      <table class="dform-table table-info w-full table-service service-table" mat-table
      [dataSource]="dataSource" matSort [@.disabled]="true">
        <ng-container *ngFor="let item of displayedColumns" [matColumnDef]="item">
            <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{_shareholderService._renderColumsTitle(item)}}</th>
            <td mat-cell *matCellDef="let element; let i = index">
                <div class="padding-cell-item">
                    <span>
                        {{ _shareholderService._renderValueCurrency(element[item], item) }}
                    </span>
                </div> 
            
            </td>
        </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
</div>