<div fxLayout="column">
  <div class="panel dform-child-content">
    <div class="panel-body pdb-5">
      <form class="panel-body panel-padding" [formGroup]="form" fxLayout="row wrap" (ngSubmit)="searchReport()">
        <sm-date-control [item]="reportDate" fxFlex="50" [form]="form"></sm-date-control>
        <sm-date-control [item]="compareDate" fxFlex="50" [form]="form"></sm-date-control>
        <sm-select-control [item]="reportType" fxFlex="50" [form]="form"></sm-select-control>
        <div fxLayoutAlign="end center">
          <button *ngIf="dataSource?.data?.length" type="button" fxFlex="25" class="btn btn-primary mrr-2" (click)="exportExcel()">
            <mat-icon> import_export</mat-icon>
            <span>Xuất excel</span>
          </button>
          <button type="submit" fxFlex="25" class="btn btn-primary mrr-2">
            <mat-icon class="mbb-icon mrl-2">search</mat-icon>
            <span>Tìm kiếm</span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <app-table-C4
    *ngIf="hasDataSource && reportTypeSearch == BC_TYPE.CD_LON"
    class="table-info"
    [dataSource]="dataSource"
    [hasDataSource]="hasDataSource"
    [compareDate]="compareDateSearch"
    [reportDate]="reportDateSearch"
    >
  </app-table-C4>

  <app-table-C3
    *ngIf="hasDataSource && reportTypeSearch != BC_TYPE.CD_LON"
    class="table-info"
    [dataSource]="dataSource"
    [hasDataSource]="hasDataSource"
    [compareDate]="compareDateSearch"
    [reportDate]="reportDateSearch"
    >
  </app-table-C3>
</div>

<div class="panel">
  <app-no-data *ngIf="hasDataSource === false"></app-no-data>
</div>