<div fxLayout="column">
    <div class="panel panel-bottom dform-child-content">
        <div class="panel-body pdb-5">
            <div fxLayout="row wrap" fxLayoutAlign="start center">
                
                <div fxFlex.gt-sm="60" fxFlex.gt-xs="100">
                    <div class="pds-4 pdt-2">
                        <p>Chú ý: File import là file excel có tên file định dạng: <span class="fc-error">"B" + "số BC" + '.' + "tên" + "_" + "yyyyMMdd</span>"</p>
                        <p>VD: <span class="fc-success">B1.VSD_CHOT_20210930.xlsx</span></p>
                    </div>
                    
                    <div fxLayout="column" fxLayoutAlign="start center" class="upload-box" appDrag (fileEvent)="dragFileInput($event)">
                        <img class="img-upload" src="assets/images/icons/combined-shape.png" alt="">
                        <span class="title-text-upload">Kéo & thả vào đây </span>
                        <span class="title-text-or">Hoặc</span>
                        <button class="btn btn-primary btnUpload" (click)="file.click()">Chọn từ máy tính</button>
                        <input type="file"
                            accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet, application/vnd.ms-excel"
                            #file hidden (change)="handleFileInput($event)">
                    </div>
                </div>
                <div fxFlex.gt-sm="40" fxFlex.gt-xs="100">
                    <div class="view-item-upload">
                        <span>File tải lên</span>
                        <div class="boxMethodValue" fxLayout="row" *ngIf="fileName || selectedFiles" fxLayoutAlign="space-between center">
                            <div fxFlex.gt-sm="90" fxLayout="column" class="processing">
                                <div fxLayoutAlign="start center">
                                    <label fxFlex="80" class="file-persen file-name truncate"
                                        >{{selectedFiles
                                        ? selectedFiles?.name : fileName}}</label>
                                    <!-- <div fxFlex="20" class="file-persen" fxLayoutAlign="end center">{{percent}} %</div> -->
                                </div>
                                <!-- <mat-progress-bar class="progress-bar" mode="determinate" [value]="percent">
                                </mat-progress-bar> -->
                            </div>
                            <button class="remove-file-batch-acc">
                                <mat-icon class="mbb-icon ic-clear fc-gray-500 md-24"></mat-icon>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>