@charset "utf-8";

/* AVERTA */
@font-face {
    font-family: Roboto;
    src: url('~assets/fonts/averta/Intelligent Design - AvertaStdCY-Regular_3.otf');
    font-weight: normal;
}

@font-face {
    font-family: Semibold;
    src: url('~assets/fonts/averta/Intelligent Design - AvertaStdCY-Semibold_1.otf');
    font-weight: normal;
} 

@font-face {
    font-family: Roboto-bold;
    src: url('~assets/fonts/averta/Intelligent Design - AvertaStdCY-Bold_1.otf');
    font-weight: 600;
}

@font-face {
    font-family: Extrabold;
    src: url('~assets/fonts/averta/Intelligent Design - AvertaStdCY-Extrabold_1.otf');
    font-weight: normal;
} 
/* AVERTA */
@font-face {
    font-family: RobotoItalic;
    src: url('~assets/fonts/averta/Intelligent Design - AvertaStdCY-RegularItalic_1.otf');
    font-weight: normal;
}

@font-face {
    font-family: Roboto-bold-Italic;
    src: url('~assets/fonts/averta/Intelligent Design - AvertaStdCY-BoldItalic_1.otf');
    font-weight: 600;
}