<div class="mat-dform-title header-dialog-dform fc-primary">
    <div class="header-dialog-title fc-primary">
        {{data?.data?.id ? 'Chỉnh sửa thông tin NLQ cổ đông lớn' : 'Thêm mới thông tin NLQ cổ đông lớn' }}
    </div>
    <button mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content class="dform-dialog-content">
    <div class="panel-body">
        <form [formGroup]="form">
            <div fxLayout="row wrap">
                <sm-select-control [item]="PARENTID" fxFlex="100" [form]="form"></sm-select-control>

                <!-- <sm-text-control [item]="DEMUC" fxFlex="30" [form]="form"></sm-text-control> -->
                <div fxFlex="30" fxLayout="column" class="form-demuc">
                    <sm-text-control [item]="DEMUC" [form]="form" (focusEvent)="focusEvent($event)" (focusOutEvent)="focusOutEvent($event)"></sm-text-control>
                    <div *ngIf="showListDemuc && listDemuc?.length" class="list-demuc">
                        <div *ngFor="let item of listDemuc" (click)="onSelect(item)" class="pd-2 item-demuc">
                            {{item.stt}}
                        </div>
                       
                    </div>
                </div>
                <sm-text-control [item]="CHUTHICHDEMUCDDL" fxFlex="70" [form]="form"></sm-text-control>

                <!-- <sm-text-control [item]="NGUOINOIBO" fxFlex="50" [form]="form"></sm-text-control> -->
                <div fxFlex="50" fxLayout="column" class="form-demuc">
                    <sm-text-control [item]="NGUOINOIBO" [form]="form" (focusEvent)="focusEventNBB($event)" (focusOutEvent)="focusOutEventNBB($event)"></sm-text-control>
                    <div *ngIf="showListNNB && listNNB?.length" class="list-demuc">
                        <div *ngFor="let item of listNNB" (click)="onSelectNBB(item)" class="pd-2 item-demuc">
                            {{item.stt}}
                        </div>
                       
                    </div>
                </div>
                <sm-text-control [item]="CHUTHICHNGUOINOIBO" fxFlex="50" [form]="form"></sm-text-control>

                <sm-text-control [item]="STT" fxFlex="30" [form]="form"></sm-text-control>
                <sm-text-control [item]="NGUOILIENQUAN" fxFlex="70" [form]="form"></sm-text-control>

                <sm-text-control [item]="SO_DKSH" fxFlex="50" [form]="form"></sm-text-control>
                <sm-text-control [item]="NGAY_CAP" fxFlex="50" [form]="form"></sm-text-control>

                <sm-text-control [item]="NOI_CAP" fxFlex="50" [form]="form"></sm-text-control>
                <sm-text-control [item]="DIA_CHI" fxFlex="50" [form]="form"></sm-text-control>

                <sm-text-control [item]="TEN_NGUOI_DAI_DIEN_VON" fxFlex="50" [form]="form"></sm-text-control>
                <sm-text-control [item]="CHUC_VU_TAI_DON_VI" fxFlex="50" [form]="form"></sm-text-control>

                <sm-text-control [item]="CMT_NGUOI_DAI_DIEN" fxFlex="50" [form]="form"></sm-text-control>
                <sm-text-control [item]="MOIQUANHE" fxFlex="50" [form]="form"></sm-text-control>

                <sm-text-control [item]="NGANH_NGHE" fxFlex="50" [form]="form"></sm-text-control>
                <!-- <sm-date-control [item]="NGAY_HIEU_LUC" fxFlex="50" [form]="form" *ngIf="!data?.data?.id"></sm-date-control> -->
            </div>
        </form>
    </div>
</div>
<div mat-dialog-actions class="actions-dialog-dform" fxLayout="row" fxLayoutAlign="end">
    <button class="btn btn-light-blue btn-xs" (click)="closeDialog()">
        <span>Trở lại</span>
    </button>
    <button class="btn btn-primary btn-xs mrl-4" (click)="saveData()">
        <span>Xác nhận</span>
    </button>
</div>