@import 'src/styles-variables.scss';
.dform-page-header-inner {
  display: flex;
  justify-content: space-between;
  .navlink{
    padding: 0 4.5px;
  }
  .dform-breadcrumb {
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    border-radius: .25rem;
    color: $color-gray-800;
    font-size: 12px;
    font-family: Semibold;
  }
  
  .dform-breadcrumb-item {
    line-height: 18px;
    text-transform: capitalize;
  
    span{
      text-transform: lowercase;
      display:inline-block;
    }
    span::first-letter{
      text-transform: uppercase;
    }
    > .chevron {
      height: 18px;
      width: 18px;
      font-size: 18px;
      vertical-align: middle;
      user-select: none;
    }
  }
  .dform-breadcrumb-item:last-child {
    > span {
      opacity: 0.4;
    }
  }
}
