<div class="dform-page-header-inner">
  <nav aria-label="breadcrumb">
    <ol class="dform-breadcrumb">
      <li class="dform-breadcrumb-item" *ngFor="let navlink of navBar; first as isFirst;">
        <span *ngIf="!isFirst" class="navlink"> / </span>
        <span class="link">{{navlink.name}}</span>
      </li>
    </ol>
  </nav>
</div>
