<h2 class="title-page">{{'Sao kê'}}</h2>
<div fxLayout="column">
  <div class="panel dform-child-content">
    <div class="panel-body pdb-5">
      <form class="panel-body panel-padding" [formGroup]="form" fxLayout="row wrap">
        <sm-date-control [item]="startDate" fxFlex="50" [form]="form"></sm-date-control>
        <sm-date-control [item]="endDate" fxFlex="50" [form]="form"></sm-date-control>
        <sm-select-control [item]="$saoke" fxFlex="50" [form]="form"></sm-select-control>
        <sm-text-control [item]="$ten" fxFlex="50" [form]="form"></sm-text-control>
        <sm-text-control [item]="$ownerRegisterNumber" fxFlex="50" [form]="form"></sm-text-control>
        <div fxLayoutAlign="end center">
            <!-- <button *ngIf="dataSource?.data?.length" fxFlex="25" class="btn btn-primary mrr-2" (click)="exportExcel()">
                <span>Xuất Excel</span>
            </button> -->
            <button type="submit" fxFlex="25" class="btn btn-primary mrr-2" (click)="searchReport()">
                <mat-icon class="mbb-icon mrl-2">search</mat-icon>
                <span>Tìm kiếm</span>
            </button>
        </div>
      </form>
    </div>
  </div>

  <app-table-BC14
    *ngIf="reportType == 1"
    class="table-info"
    [dataSource]="dataSource"
    [hasDataSource]="hasDataSource"
    (exportExcel)="exportExcel($event)">
  </app-table-BC14>

  <app-table-BC13
    *ngIf="reportType == 0"
    class="table-info"
    [dataSource]="dataSource"
    [hasDataSource]="hasDataSource"
    (exportExcel)="exportExcel($event)">
  </app-table-BC13>

  <div class="panel-footer">
    <dform-pagination-plus class="fullWidth" #pagePage showPageSelect [pageIndex]="pageIndex"
        (page)="ChanePageIndex($event);" [totalItem]="totalItem" [pageSize]="pageSize" [showPageSizeList]="true"
        [isLoadServer]="true" [pageSizeList]="[10, 20, 50, 100]">
    </dform-pagination-plus>
  </div>
</div>

<div class="panel">
  <app-no-data *ngIf="hasDataSource === false"></app-no-data>
</div>