<div fxLayout="column" class="dform-child-content">
    <h2 class="title-page">{{ 'Sao kê cổ phiếu, cổ tức ' | translate }}</h2>
    <div class="panel panel-bottom">
        <div class="panel-body">
            <app-report-management></app-report-management>
        </div>
    </div>    
</div>