<div class="mat-dform-title header-dialog-dform fc-primary">
    <div class="header-dialog-title fc-primary">
        Thêm mới thông tin NNB, NLQ
    </div>
    <button mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</div>

<div mat-dialog-content class="dform-dialog-content">
    <div class="panel-body">
        <form [formGroup]="form">
            <ng-template>Thông tin cổ đông lớn</ng-template>
            <div fxLayout="row wrap">
                <sm-text-control [item]="TENTCCN" fxFlex="50" [form]="form"></sm-text-control>
                <sm-text-control [item]="SODKSH" fxFlex="50" [form]="form"></sm-text-control>
                
                <sm-date-control [item]="BATDAU" fxFlex="50" [form]="form"></sm-date-control>
                <sm-date-control [item]="KETTHUC" fxFlex="50" [form]="form"></sm-date-control>

                <sm-text-control [item]="SOLUONGDKGD" fxFlex="50" [form]="form"></sm-text-control>
                <sm-text-control [item]="THUCTEGD" fxFlex="50" [form]="form"></sm-text-control>

                <sm-date-control [item]="CBTTDKGD" fxFlex="50" [form]="form"></sm-date-control>
                <sm-date-control [item]="CBTTKQGD" fxFlex="50" [form]="form"></sm-date-control>

                <sm-date-control [item]="GIAITOAMBS" fxFlex="50" [form]="form"></sm-date-control>
                <sm-text-control [item]="EMAIL" fxFlex="50" [form]="form"></sm-text-control>

                <sm-text-control [item]="GHICHU" fxFlex="100" [form]="form"></sm-text-control>
            </div>
        </form>
    </div>
</div>
<div mat-dialog-actions class="actions-dialog-dform" fxLayout="row" fxLayoutAlign="end">
    <button class="btn btn-light-blue btn-xs" (click)="closeDialog()">
        <span>Trở lại</span>
    </button>
    <button class="btn btn-primary btn-xs mrl-4" (click)="saveData()">
        <span>Xác nhận</span>
    </button>
</div>