@import "src/assets/ati/common.scss";
.header-dialog-dform {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    padding: 10.5px 24px;
    box-shadow: inset 0 -1px 0 0 #dedede;
    background-color: $color-neutral-white;
    .header-dialog-title{
        font-family: Roboto-bold;
        font-size: 18px;
    }
}
.dform-dialog-content{
    padding: 0px; 
    min-height: 40vh;
    // max-height: 75vh;
    margin-top: 20px;
    padding-left: 16px;
    padding-right: 16px;
}

.actions-dialog-dform{
    margin-left: -24px;
    margin-right: -24px;
    padding: 16px 24px;
    box-shadow: inset 0 1px 0 0 #dedede;
}
