<div class="panel-body-table">
    <div class="table-over example-container">
      <table class="dform-table table-info w-full table-service service-table" mat-table
      [dataSource]="dataSource" matSort [@.disabled]="true">

      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef class="df-min-3 text-left">{{'STT'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-3">
          <div class="padding-cell-item">
            <span>
              {{ element?.stt }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="tenTcCn">
        <th mat-header-cell *matHeaderCellDef class="df-min-15 text-left">{{'Tên TCCN'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-15">
          <div class="padding-cell-item">
            <!-- <span>
              {{ element?.tenTcCn }} 
            </span> -->
            <span [ngClass]=" (element?.parentId && !element?.soDksh) ? 'column-absolute top-padding': ''">
              {{ element?.tenTcCn }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="tkgdck">
        <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'tkgdck'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
          <div class="padding-cell-item">
            <span>
              {{ element?.tkgdck }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="chucVuMoiQh">
        <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Chức vụ, Mối Qh'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
          <div class="padding-cell-item">
            <span>
              {{ element?.chucVuMoiQh }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="gioiTinh">
        <th mat-header-cell *matHeaderCellDef class="df-min-6 text-left">{{'Giới tính'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-6">
          <div class="padding-cell-item">
            <span>
              {{ element?.gioiTinh }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="diaChi">
        <th mat-header-cell *matHeaderCellDef class="df-min-15 text-left">{{'Địa chỉ'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-15">
          <div class="padding-cell-item">
            <span>
              {{ element?.diaChi }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="loaiHinhId">
        <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Loại hình ID'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
          <div class="padding-cell-item">
            <span>
              {{ element?.loaiHinhId }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="soDksh">
        <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'So ĐKSH'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
          <div class="padding-cell-item">
            <span>
              {{ element?.soDksh }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="ngayCap">
        <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'Ngày cấp'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
          <div class="padding-cell-item">
            <span>
              {{ element?.ngayCap }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="noiCap">
        <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'Nơi cấp'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
          <div class="padding-cell-item">
            <span>
              {{ element?.noiCap }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="dienThoai">
        <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'Điện thoại'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
          <div class="padding-cell-item">
            <span>
              {{ element?.dienThoai }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'email'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
          <div class="padding-cell-item">
            <span>
              {{ element?.email }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef class="df-min-5 text-left"></th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-5">
          <div class="padding-cell-item" fxLayout="row" *ngIf="element?.id">
            <button mat-icon-button class="material-icons app-toolbar-menu save-button fc-primary"
                matTooltip="Chỉnh sửa" color="primary" (click)="onUpdate(element)">
                <mat-icon>edit</mat-icon>
            </button>

            <button mat-icon-button class="material-icons app-toolbar-menu delete-button fc-error"
              matTooltip="Xóa" color="warn" (click)="onDelete(element)">
              <mat-icon>delete</mat-icon>
          </button>
          </div> 
        </td>
      </ng-container>
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="position: relative; height: 80px !important;"></tr> -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" style="position: relative; height: 80px !important;"  [ngClass]=" (!row?.parentId && row?.soDksh) ? 'bg-warning': (row?.parentId && !row?.soDksh ? 'bg-gray-200' :'')"></tr>
  </table>
  </div>
</div>