<div class="mat-dform-title header-dialog-dform fc-primary">
    <div class="header-dialog-title fc-primary">
        {{data?.data?.id ? 'Chỉnh sửa thông tin NNB T22' : 'Thêm mới thông tin NNB T22' }}
    </div>
    <button mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
 </div>
 <div mat-dialog-content class="dform-dialog-content">
    <div class="panel-body">
        <form [formGroup]="form">
            <div fxLayout="row wrap">
                <sm-text-control [item]="STT" fxFlex="30" [form]="form"></sm-text-control>
                <sm-text-control [item]="TENTCCN" fxFlex="70" [form]="form"></sm-text-control>
 
                <sm-text-control [item]="TKGDCK" fxFlex="50" [form]="form"></sm-text-control>
                <sm-text-control [item]="CHUCVUMOIQH" fxFlex="50" [form]="form"></sm-text-control>
 
                <sm-select-control [item]="GIOITINH" fxFlex="50" [form]="form"></sm-select-control>
                <sm-text-control [item]="DIA_CHI" fxFlex="50" [form]="form"></sm-text-control>
 
                <sm-text-control [item]="LOAIHINHID" fxFlex="50" [form]="form"></sm-text-control>
                <sm-text-control [item]="SO_DKSH" fxFlex="50" [form]="form"></sm-text-control>
 
                <sm-text-control [item]="NGAY_CAP" fxFlex="50" [form]="form"></sm-text-control>
                <sm-text-control [item]="NOI_CAP" fxFlex="50" [form]="form"></sm-text-control>
 
                <sm-text-control [item]="DIENTHOAI" fxFlex="50" [form]="form"></sm-text-control>
                <sm-text-control [item]="EMAIL" fxFlex="50" [form]="form"></sm-text-control>
 
                <!-- <sm-date-control [item]="NGAY_HIEU_LUC" fxFlex="50" [form]="form" *ngIf="!data?.data?.id"></sm-date-control> -->
            </div>
        </form>
    </div>
 </div>
 <div mat-dialog-actions class="actions-dialog-dform" fxLayout="row" fxLayoutAlign="end">
    <button class="btn btn-light-blue btn-xs" (click)="closeDialog()">
        <span>Trở lại</span>
    </button>
    <button class="btn btn-primary btn-xs mrl-4" (click)="saveData()">
        <span>Xác nhận</span>
    </button>
 </div>