<div class="panel-body-table">
  <div class="table-over">
    <table class="dform-table table-info w-full table-service service-table" mat-table
    [dataSource]="dataSource" matSort [@.disabled]="true">
      <ng-container matColumnDef="stt" sticky>
        <th mat-header-cell *matHeaderCellDef class="df-min-3 text-left">{{'STT'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-3">
          <div class="padding-cell-item">
            <span>
              {{ element?.stt }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="hoTen" sticky>
        <th mat-header-cell *matHeaderCellDef class="df-min-12 text-left">{{'Họ tên'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-12">
          <div class="padding-cell-item">
            <span>
              {{ element?.hoTen }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="soDksh">
        <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Số DKSH'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
          <div class="padding-cell-item">
            <span>
              {{ element?.soDksh }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="ngayCap">
        <th mat-header-cell *matHeaderCellDef class="df-min-7 text-left">{{'Ngày cấp'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-7">
          <div class="padding-cell-item">
            <span>
              {{ element?.ngayCap }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="diaChiVsd">
        <th mat-header-cell *matHeaderCellDef class="df-min-15 text-left">{{'Địa chỉ'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-15">
          <div class="padding-cell-item">
            <span>
              {{ element?.diaChiVsd }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="tyLeTraCotuc">
        <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Tỷ lệ trả cổ tức'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
          <div class="padding-cell-item">
            <span>
              {{ element?.tyLeTraCotuc }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="cotucClkSauthue">
        <th mat-header-cell *matHeaderCellDef class="df-min-12 text-left">{{'Cổ tức CLK sau thuế'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-12">
          <div class="padding-cell-item">
            <span>
              {{ element?.cotucClkSauthue | mbbCurrency }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef class="df-min-5 text-left"></th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-5">
          <div class="padding-cell-item">
            <button *ngIf="element?.soDksh" mat-icon-button class="material-icons app-toolbar-menu save-button fc-primary"
                matTooltip="Xuất báo cáo" color="primary" (click)="onExport(element,i)">
                <mat-icon>cloud_download</mat-icon>
            </button>
          </div> 
        </td>
      </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>
</div>