<div class="dform-container-wrap"
     >
  <app-header #header
              class="dform-header"
              (toggleSidenav)="sidenav.toggle()"
              (toggleCollapsed)="toggleCollapsed()"
              >
  </app-header>

  <mat-sidenav-container class="dform-container"
                         autosize
                         autoFocus>
    <mat-sidenav #sidenav
                 class="dform-sidenav"
                 [ngClass]="{'emb-sidenav': options.menuMode == 2, 'smart-sidenav': options.menuMode == 1}"
                 [mode]="isOver ? 'over' : 'side'"
                 [opened]="options.navPos==='side' && options.sidenavOpened && !isOver"
                 (openedChange)="sidenavOpenedChange($event)"
                 (closedStart)="sidenavCloseStart()">
      <app-sidebar>
      </app-sidebar>
    </mat-sidenav>

    <mat-sidenav-content #content
                         class="dform-content-wrap"
                         id="dform-cutomer"
                         >
      <div>
        <page-header
                     fxHide.lt-sm
                     [isSubMenu]="true"></page-header>
        <router-outlet></router-outlet>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
<dform-activity-indicator-singleton></dform-activity-indicator-singleton>