<div class="mat-dform-title header-dialog-dform fc-primary">
    <div class="header-dialog-title fc-primary">
        {{data?.data?.id ? 'Chỉnh sửa thông tin đề mục' : 'Thêm mới thông tin đề mục' }}
    </div>
    <button mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content class="dform-dialog-content">
    <div class="panel-body">
        <form [formGroup]="form">
            <div fxLayout="row wrap">
                <sm-select-control [item]="PARENTID" fxFlex="100" [form]="form"></sm-select-control>

                <div fxFlex="30" fxLayout="column" class="form-demuc">
                    <sm-text-control [item]="STT" [form]="form" (focusEvent)="focusEvent($event)" (focusOutEvent)="focusOutEvent($event)"></sm-text-control>
                    <!-- <div *ngIf="showListDemuc && listDemuc?.length" class="list-demuc">
                        <div *ngFor="let item of listDemuc" (click)="onSelect(item)" class="pd-2 item-demuc">
                            {{item.stt}}
                        </div>
                       
                    </div> -->
                </div>
                <sm-textarea-control [item]="CDLON" fxFlex="70" [form]="form"></sm-textarea-control>

                <!-- <div fxFlex="50" fxLayout="column" class="form-demuc">
                    <sm-text-control [item]="NGUOINOIBO" [form]="form"></sm-text-control>
                </div>
                <sm-text-control [item]="CHUTHICHNGUOINOIBO" fxFlex="50" [form]="form"></sm-text-control> -->

                <!-- <sm-date-control [item]="NGAY_HIEU_LUC" fxFlex="50" [form]="form" *ngIf="!data?.data?.id"></sm-date-control> -->
            </div>
        </form>
    </div>
</div>
<div mat-dialog-actions class="actions-dialog-dform" fxLayout="row" fxLayoutAlign="end">
    <button class="btn btn-light-blue btn-xs" (click)="closeDialog()">
        <span>Trở lại</span>
    </button>
    <button class="btn btn-primary btn-xs mrl-4" (click)="saveData()">
        <span>Xác nhận</span>
    </button>
</div>