<div class="loadingActivityIndicator" *ngIf="isLoading" [@activityIndicatorAnimation]="state">
  <div class="loading" [ngClass]="{'loading-screen': !IsDialog, 'loading-dialog': IsDialog}" *ngIf="!isFailed">
    <div class="logo">
      <img src="assets/images/loading_icon.gif" height="150" width="auto">
    </div>
    <!-- <svg class="spinner" viewBox="25 25 50 50">
      <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="2" stroke-miterlimit="10" />
    </svg> -->
  </div>
  <button class="btn btn-white" *ngIf="isFailed" (click)="click()">
    {{ 'lbl.try_again' | translate }}
  </button>
</div>
