@import "src/assets/ati/common.scss";

.isHidden {
  visibility: hidden;
}

.loadingActivityIndicator {
  z-index: 2;
  position: relative;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 99999;
  top: 0px;
  bottom: 0px;
  left: 0px;
  right: 0px;
  margin: auto;
  position: absolute;

  /* Transparent Overlay */
  :before {
    content: '';
    display: block;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: darkgrey;
    opacity: 0.1;
  }

  :not(:required) {
    /* hide "loading..." text */
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
    background-color: transparent;
    border: 0;
  }

  .loading {
    position: relative;

    .logo {
      position: relative;
      height: 150px;
      width: 150px;
      padding: 10px;

      img {
        position: absolute;
        left: 0px;
        right: 0px;
        top: 0px;
        bottom: 0px;
        margin: auto;
      }
    }

    .spinner {
      height: 100%;
      width: 100%;
      animation: rotate 2s linear infinite;
      transform-origin: center center;
      position: absolute;
      top: 0px;
      bottom: 0px;
      left: 0px;
      right: 0px;
      margin: auto;
    }

    .spinner {
      .path {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
        animation: dash 1.5s ease-in-out infinite;
        stroke-linecap: round;
        stroke: $color-blue-primary;
      }
    }

    @include query-lt-md {
      @include transform(scale(0.7));
    }
  }

  button {
    // @include alignCenter;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin: auto;
    position: absolute;
    height: 3rem;
    width: 10rem;
    @include shadow(0 0 0.5rem 0.2rem rgba(51, 51, 51, 0.3));
  }
}
