<div class="panel-body-table">
  <div class="table-over example-container">
    <table class="dform-table table-info w-full table-service service-table" mat-table [dataSource]="dataSource" matSort [@.disabled]="true">

      <ng-container matColumnDef="stt" sticky>
        <th mat-header-cell *matHeaderCellDef class="df-min-3 text-left">{{'STT'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-3">
          <div class="padding-cell-item">
            <span>
              {{ element?.stt }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="cdLon" sticky>
        <th mat-header-cell *matHeaderCellDef class="df-min-15 text-left">{{'Cổ đông lớn'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-15">
          <div class="padding-cell-item">
            <span>
              {{ element?.cdLon }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="nguoiLienQuan">
        <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Người liên quan'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
          <div class="padding-cell-item">
            <span>
              {{ element?.nguoiLienQuan }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="soDksh">
        <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Số DKKD/CMT'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
          <div class="padding-cell-item">
            <span>
              {{ element?.soDksh }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="ngayCap">
        <th mat-header-cell *matHeaderCellDef class="df-min-12 text-left">{{'Ngày cấp'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-12">
          <div class="padding-cell-item">
            <span>
              {{ element?.ngayCap }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="noiCap">
        <th mat-header-cell *matHeaderCellDef class="df-min-12 text-left">{{'Nơi cấp'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-12">
          <div class="padding-cell-item">
            <span>
              {{ element?.noiCap }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="diaChi">
        <th mat-header-cell *matHeaderCellDef class="df-min-15 text-left">{{'Địa chỉ'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-15">
          <div class="padding-cell-item">
            <span>
              {{ element?.diaChi }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="moiQuanHe">
        <th mat-header-cell *matHeaderCellDef class="df-min-15 text-left">{{'Mối quan hệ'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-15">
          <div class="padding-cell-item">
            <span>
              {{ element?.moiQuanHe }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="soLuongCompareDate">
        <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">Sở hữu tại ({{compareDate}})</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
          <div class="padding-cell-item">
            <span>
              {{ element?.soLuongCompareDate | mbbCurrency }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="tyLeCompareDate">
        <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'Tỷ lệ'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
          <div class="padding-cell-item">
            <span>
              {{ element?.tyLeCompareDate }} 
            </span>
          </div> 
        </td>
      </ng-container>
      
      <ng-container matColumnDef="soLuongReportDate">
        <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">Sở hữu tại ({{reportDate}})</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
          <div class="padding-cell-item">
            <span>
              {{ element?.soLuongReportDate | mbbCurrency }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="tyLeReportDate">
        <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'Tỷ lệ'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
          <div class="padding-cell-item">
            <span>
              {{ element?.tyLeReportDate }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="thayDoiTrongKy">
        <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'Thay đổi trong kỳ'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
          <div class="padding-cell-item">
            <span>
              {{ element?.thayDoiTrongKy | mbbCurrency }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
</div>