<div fxLayout="column" class="dform-child-content">
    <h2 class="title-page">{{ 'Import dữ liệu' | translate }}</h2>
    <div class="panel panel-bottom">
        <app-import-data></app-import-data>
    </div>    
</div>