<div class="panel-body-table" style="z-index: 0;">
  <div class="table-over example-container">
    <table class="dform-table table-info w-full table-service service-table" mat-table [dataSource]="dataSource" matSort [@.disabled]="true">

      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef class="df-min-3 text-left">{{'STT'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-3">
          <div class="padding-cell-item">
            <span>
              {{ element?.stt }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="hoTen">
        <th mat-header-cell *matHeaderCellDef class="df-min-12 text-left">{{'Họ tên'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-12">
          <div class="padding-cell-item">
            <span>
              {{ element?.hoTen }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="soDksh">
        <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'Số DKSH'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
          <div class="padding-cell-item">
            <span>
              {{ element?.soDksh }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="tongCp">
        <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'Tổng CP'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
          <div class="padding-cell-item">
            <span>
              {{ element?.tongCp | mbbCurrency }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="tyLe">
        <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'Tỷ lệ (%)'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
          <div class="padding-cell-item">
            <span>
              {{ element?.tyLe }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="cpSauUyQuyen">
        <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'CP sau UQ'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
          <div class="padding-cell-item">
            <span>
              {{ element?.cpSauUyQuyen | mbbCurrency }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="cpThamDu">
        <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'CP tham dự'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
          <div class="padding-cell-item">
            <span>
              {{ element?.cpThamDu | mbbCurrency }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="tyLeThamDu">
        <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Tỷ lệ tham dự (%)'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
          <div class="padding-cell-item">
            <span>
              {{ element?.tyLeThamDu }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="vanDe">
        <th mat-header-cell *matHeaderCellDef class="df-min-25 text-left">
          <div fxLayout="column">
            <div class="text-center">
              <span> {{'Biểu quyết vấn đề'}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="mrt-2">
              <div fxLayout="column" class="df-min-24 pdl-2 vanDe" fxLayoutAlign=" center" *ngFor="let item of listColumnGroupVande; let i = index">
                <p>Vấn đề {{i + 1}}</p>
                <div fxLayout="row" class="w-100">
                  <div fxFlex="33">{{'Đồng ý'}}</div>
                  <div fxFlex="33">{{'Không đồng ý'}}</div>
                  <div fxFlex="33">{{'Không ý kiến'}}</div>
                </div>
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element;" class="df-min-25 text-left">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" class="df-min-24 pdl-2" fxLayoutAlign=" center" *ngFor="let item of listColumnGroupVande; let i = index">
              <div fxFlex="100" fxLayout="row" class="w-100">
                <div fxFlex="33">{{element?.thongTinVanDeDtos[i]?.dongY | mbbCurrency}}</div>
                <div fxFlex="33">{{element?.thongTinVanDeDtos[i]?.khongDongY | mbbCurrency}}</div>
                <div fxFlex="33">{{element?.thongTinVanDeDtos[i]?.khongYKien | mbbCurrency}}</div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="bauCu">
        <th mat-header-cell *matHeaderCellDef class="df-min-25 text-left">
          <div fxLayout="column">
            <div class="text-center">
              <span> {{'Bầu cử'}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="mrt-2" >
              <div fxLayout="column" class="df-min-24" fxLayoutAlign=" center" *ngFor="let item of listColumnGroupBauCu; let i = index">
                <div fxLayout="row" class="w-100">
                  <div fxFlex="50">{{'Ứng cử viên'}}</div>
                  <div fxFlex="50">{{'CP biểu quyết'}}</div>
                </div>
              </div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element;" class="df-min-25 text-left">
          <div fxLayout="row" fxLayoutAlign="space-between center">
            <div fxLayout="column" class="df-min-24 pl-1" fxLayoutAlign=" center" *ngFor="let item of listColumnGroupBauCu; let i = index">
              <div fxFlex="100" fxLayout="row" class="w-100">
                <div fxFlex="50">{{element?.bauCuDtoList[i]?.nguoiBauCu}}</div>
                <div fxFlex="50">{{element?.bauCuDtoList[i]?.cpCoDong | mbbCurrency}}</div>
              </div>
            </div>
          </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
</div>