.panel {
    display: flex;
    flex-direction: column;
    min-height: 3rem;
    background-color: white;
    // overflow: hidden;
    position: relative;
    @include border-radius(0.5rem);
    // @include shadow(0 0 1rem 0 opacity-color($color-gray-900, 0.2));
    .btn{
        span{
            font-size: 14px;
            font-family: 'Roboto' !important;
        }
    }
    .panel-heading {
        display: flex;
       // background-image: radial-gradient(ellipse at top,$color-secondary,$color-blue-primary),radial-gradient(ellipse at bottom,$color-secondary,$color-blue-primary);
        padding: 0 24px;
        width: 100%;
        &.bdt{
            border-bottom: solid 1px $color-gray-300;
        }
        >label {
            margin: 1.5rem 0;
            font-size: 1rem;
            color: $color-blue-primary;
            font-weight: bold;
            font-family: 'Roboto-bold';
        }
        >button{
            margin: 0.75rem 0;
            color: $color-blue-primary;
            font-family: 'Roboto' !important;
        }
    }
    .panel-body {
        z-index:1;
        // overflow: auto;
        &::-webkit-scrollbar {
            width: 5px;
            background: white;
        }
        >div {
            width: 100%;
        }
        /* Track */
        &::-webkit-scrollbar-track {
            border-radius: 10px;
        }
        /* Handle */
        &::-webkit-scrollbar-thumb {
            background: transparent;
            box-shadow: inset 0 0 5px grey;
            border-radius: 10px;
        }
        &.panel-padding{
            padding: 16px 17px;
            // max-height: 70vh;
        }
        >.form-group {
            width: 100%;
        }
        &.panel-fix-heigth{
            min-height: 55vh;
        }
        .view-guardian {
            padding-top: 3.5rem;
            padding-bottom: 3.8125rem;
            padding-left: 10.8125rem;
            .txt-top {
                font-size: 1rem;
                font-weight: bold;
            }
            .txt-bot {
                font-size: 1.5rem;
                font-weight: bold;
                text-transform: uppercase;
                margin-top: 0;
            }
        }
    }
    .panel-footer{
        display: flex;
        justify-content: flex-end;
        padding: 1rem;
        width: 100%;
        >button{
            margin: 0.75rem 0;
            color: white;
        }
    }
    &.panel-bottom{
        margin-bottom: 6rem;
    }
    &.panel-fix-heigth{
        min-height: 30vh;
    }
}

.panel-table{
    .wrapper{
        overflow-x: scroll; 
        overflow-y: hidden;
        position: relative;
        z-index: 100;
        top: 59px;
    }
    .content-wrapper {
        height: 1px; 
    }
}