<div fxLayout="column">
  <div class="panel dform-child-content">
    <div class="panel-body pdb-5">
      <form class="panel-body panel-padding" [formGroup]="form" fxLayout="row wrap" (ngSubmit)="searchReport()">
        <sm-select-control [item]="groupType" fxFlex="50" [form]="form"></sm-select-control>
        <sm-text-control [item]="NNBHOTEN" fxFlex="50" [form]="form"></sm-text-control>
        <sm-text-control [item]="NNBSODKSH" fxFlex="50" [form]="form"></sm-text-control>
        <sm-text-control [item]="NLQHOTEN" fxFlex="50" [form]="form"></sm-text-control>
        <sm-text-control [item]="NLQSODKSH" fxFlex="50" [form]="form"></sm-text-control>
        <div fxLayoutAlign="end center">
          <button type="submit" fxFlex="25" class="btn btn-primary mrr-2">
            <mat-icon class="mbb-icon mrl-2">search</mat-icon>
            <span>Tìm kiếm</span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <div fxLayoutAlign="start center">
    <button class="btn btn-dark-blue mrr-2" (click)="createdChimuc()" *ngIf="hasDataSource && (reportType == BC_TYPE.LUAT_CK || reportType == BC_TYPE.LUAT_TCTD)">
      <mat-icon>add_box</mat-icon>
      <span>{{'Thêm mới chỉ mục'}}</span>
    </button>
    <button class="btn btn-dark-blue mrr-2" (click)="createdCommand()" *ngIf="hasDataSource">
      <mat-icon>add_box</mat-icon>
      <span>{{titleParent}}</span>
    </button>
    <button class="btn btn-dark-blue mrr-2" (click)="createdDemuc()" *ngIf="hasDataSource">
      <mat-icon>add_box</mat-icon>
      <span>{{'Thêm mới đề mục'}}</span>
    </button>
    <button class="btn btn-dark-blue mrr-2" (click)="createdChuThichNNB()" *ngIf="hasDataSource && reportType == BC_TYPE.CD_LON">
      <mat-icon>add_box</mat-icon>
      <span>{{'Thêm mới chú thích NNB'}}</span>
    </button>
    <button class="btn btn-dark-blue mrr-2" (click)="createdNNBNLQ()" *ngIf="hasDataSource">
      <mat-icon>add_box</mat-icon>
      <span>{{titleChild}}</span>
    </button>
  </div>

  <app-table-B14
    *ngIf="hasDataSource && reportType == BC_TYPE.TT22"
    class="table-info"
    [dataSource]="dataSource"
    [hasDataSource]="hasDataSource"
    (update)="update($event)"
    (delete)="onDeleteData($event)"
    >
  </app-table-B14>

  <app-table-B15-B16
    *ngIf="hasDataSource && (reportType == BC_TYPE.LUAT_TCTD || reportType == BC_TYPE.LUAT_CK)"
    class="table-info"
    [dataSource]="dataSource"
    [hasDataSource]="hasDataSource"
    (update)="update($event)"
    (delete)="onDeleteData($event)"
    >
  </app-table-B15-B16>

  <app-table-B13
    *ngIf="hasDataSource && reportType == BC_TYPE.CD_LON"
    class="table-info"
    [dataSource]="dataSource"
    [hasDataSource]="hasDataSource"
    (update)="update($event)"
    (delete)="onDeleteData($event)"
    >
  </app-table-B13>

  <div class="panel-footer">
    <dform-pagination-plus class="fullWidth" #pagePage showPageSelect [pageIndex]="pageIndex"
        (page)="ChanePageIndex($event);" [totalItem]="totalItem" [pageSize]="pageSize" [showPageSizeList]="true"
        [isLoadServer]="true" [pageSizeList]="[10, 20, 50, 100]">
    </dform-pagination-plus>
  </div>
</div>

<div class="panel">
  <app-no-data *ngIf="hasDataSource === false"></app-no-data>
</div>