<div fxLayout="column" class="dform-child-content">
    <h2 class="title-page">{{ 'Quản lý thông tin cổ đông lớn, người nội bộ và người có liên quan (NNB/NLQ)' | translate }}</h2>
    <div class="panel panel-bottom">
        <div class="panel-body">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab class="title-tab-content" label="Báo cáo cổ đông">
                    <app-report-management></app-report-management>
                </mat-tab>
                <mat-tab class="title-tab-content" label="Quản lý thông tin">
                    <app-info-management></app-info-management>
                </mat-tab>
                <mat-tab class="title-tab-content" label="Tìm kiếm thông tin">
                    <app-query-info-management></app-query-info-management>
                </mat-tab>
                <mat-tab class="title-tab-content" label="Thông tin sở hữu/ giao dịch">
                    <mat-tab-group mat-align-tabs="start">
                        <mat-tab class="title-tab-content" label="Kiểm tra thông tin thay đổi sở hữu CP">
                            <app-ownership-information></app-ownership-information>
                        </mat-tab>
                        <mat-tab class="title-tab-content" label="Quản lý thông tin GD cổ phiếu MBB">
                            <app-stock-mbb></app-stock-mbb>
                        </mat-tab>
                    </mat-tab-group>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>    
</div>