
.dform-error-wrap {
  text-align: center;
}

.dform-error-image{
  width: 30%;
  margin-top: 30px;
}

.dform-error-code {
  margin-top: 20px;
  padding: 20px 0;
  font-size: 150px;
}

.dform-error-title {
  margin: 0 0 16px;
  font-weight: 500;
  font-size: 20px;
  line-height: 32px;
}

.dform-error-message {
  margin: 0 0 16px;
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}
