<div class="mat-dform-title header-dialog-dform fc-primary">
    <div class="header-dialog-title fc-primary">
        Cảnh báo thay đổi
    </div>
    <button mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content class="dform-dialog-content">
  <div class="panel-body-table" style="min-height: 400px;">
    <div class="table-over">
      <table class="dform-table table-info w-full table-service service-table" mat-table
      [dataSource]="dataSource" matSort [@.disabled]="true">

        <ng-container matColumnDef="tenTcCn">
          <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">Tên TCCN</th>
          <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
              <div class="padding-cell-item">
                  <span>
                      {{ element.tenTcCn }} 
                  </span>
              </div> 
          </td>
        </ng-container>

        <ng-container matColumnDef="soDksh">
          <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">Số DKSH</th>
          <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
              <div class="padding-cell-item">
                  <span>
                      {{ element.soDksh }} 
                  </span>
              </div> 
          </td>
        </ng-container>

        <ng-container matColumnDef="soLuongGdTrongKy">
          <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">Số lượng GD trong kỳ</th>
          <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
              <div class="padding-cell-item">
                  <span>
                      {{ element.soLuongGdTrongKy | mbbCurrency }} 
                  </span>
              </div> 
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
  </div>
</div>
<div mat-dialog-actions class="actions-dialog-dform" fxLayout="row" fxLayoutAlign="end">
    <button class="btn btn-light-blue btn-xs" (click)="closeDialog()">
        <span>Đóng</span>
    </button>
</div>