<div class="dform-header d-flex justify-content-end">
  <button mat-icon-button
          (click)="onCloseCancel()">
    <mat-icon>close</mat-icon>
  </button>
</div>
<div mat-dialog-content>
  <div class="d-flex justify-content-center">
    <img src="assets/images/images-status/complete.png"
         srcset="assets/images/images-status/complete@2x.png 2x,
    assets/images/images-status/complete@3x.png 3x"
         alt="{{'lbl.no-data' | translate }}"
         class="img-empty">
  </div>
  <div class="dform-title">
    {{data?.title || 'Title' | translate}}
  </div>
  <!-- Error Detail -->
  <p class="text-center"
     *ngIf="!data?.innerHTML">{{data?.message || 'Message' | translate}}</p>
  <p class="text-center"
     *ngIf="data?.innerHTML"
     [innerHTML]="data?.innerHTML"></p>
  <p class="text-center fc-error"
     *ngIf="data?.note">{{data?.note}}</p>
</div>
<div mat-dialog-actions
     class="d-flex justify-content-center">
  <button class="btn btn-error btn-md mrr-4"
          (click)="onCloseCancel()">
    {{ 'btn.cancel' || 'Cancel' | translate }}
  </button>
  <button class="btn btn-primary btn-md mrl-4"
          (click)="onCloseConfirm()">
    {{ 'btn.accept' || 'Accept' | translate}}
  </button>
</div>