<div class="panel-body-table">
  <div class="table-over example-container">
    <table class="dform-table table-info w-full table-service service-table" mat-table [dataSource]="dataSource" matSort [@.disabled]="true">

      <ng-container matColumnDef="stt">
        <th mat-header-cell *matHeaderCellDef class="df-min-3 text-left">{{'STT'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-3">
          <div class="padding-cell-item">
            <span>
              {{ element?.stt }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="nhomCD">
        <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'Nhóm CĐ'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
          <div class="padding-cell-item">
            <span>
              {{ element?.nhomCD }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="after">
        <th mat-header-cell *matHeaderCellDef class="df-min-25 text-left">
          <div fxLayout="column">
            <div class="text-center">
              <span> {{'ĐHCĐ chốt ngày: '}}{{formatDate(reportDate)}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="mrt-2">
              <div fxFlex="30"> Số cổ đông</div>
              <div fxFlex="35"> Số lượng CP</div>
              <div fxFlex="35"> Tỷ lệ (%)</div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element;" class="df-min-25 text-left">
          <div fxLayout="row" fxLayoutAlign="space-between center" >
            <div fxFlex="30">{{element.soCdAfter | mbbCurrency}}</div>
            <div fxFlex="35">{{element.soLuongCpAfter | mbbCurrency}}</div>
            <div fxFlex="35">{{element.tyLeAfter}}</div>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="now">
        <th mat-header-cell *matHeaderCellDef class="df-min-25 text-left">
          <div>
            <div class="text-center">
              <span>{{'ĐHCĐ chốt ngày: '}}{{formatDate(compareDate)}}</span>
            </div>
            <div fxLayout="row" fxLayoutAlign="space-between center" class="mrt-2">
              <div fxFlex="30"> Số cổ đông</div>
              <div fxFlex="35"> Số lượng CP</div>
              <div fxFlex="35"> Tỷ lệ (%)</div>
            </div>
          </div>
        </th>
        <td mat-cell *matCellDef="let element;" class="df-min-25 text-left">
          <div fxLayout="row" fxLayoutAlign="space-evenly center">
            <span fxFlex="30">{{element.soCdNow | mbbCurrency}}</span>
            <span fxFlex="35">{{element.soLuongCpNow | mbbCurrency}}</span>
            <span fxFlex="35">{{element.tyLeNow}}</span>
          </div>
        </td>
      </ng-container>

      <ng-container matColumnDef="chenhLechTyLe">
        <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'Tăng giảm giữa 2 kỳ'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
          <div class="padding-cell-item">
            <span>
              {{ element?.chenhLechTyLe }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    </table>
  </div>
</div>