<div cdkDrag
     cdkDragRootElement=".cdk-overlay-pane">
  <div fxLayout="row" fxLayoutAlign="end none"
       cdkDragHandle>
    <button mat-icon-button
            (click)="onCloseCancel()">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <div fxLayout="row" fxLayoutAlign="center none">
      <img src="assets/images/images-status/error-delete.png"
           alt="{{'Không có dữ liệu' | translate}}"
           class="img-empty">
    </div>
    <div class="dform-title">
      {{data?.title || 'Title' }}
    </div>
    <!-- Error Detail -->
    <p class="text-center"
       *ngIf="data?.message">
      {{data?.message || 'Message' }}
    </p>
    <p class="text-center"
       *ngIf="data?.innerHTML"
       [innerHTML]="data?.innerHTML"></p>
  </div>
  <div mat-dialog-actions
    fxLayout="row" fxLayoutAlign="center  none">
    <button class="btn btn-error btn-md"
            (click)="onCloseConfirm()">
      <!-- Error Button -->
      {{ 'Đóng' }}
    </button>
  </div>
</div>