.form-demuc {
    position: relative;
    .list-demuc {
        position: absolute;
        top: 68px;
        z-index: 99;
        max-height: 150px;
        background-color: #fff;
        border-left: 1px solid #ccc;
        border-right: 1px solid #ccc;
        border-bottom: 1px solid #ccc;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        box-shadow: 0 1px 0 rgb(0 0 0 / 6%);
        left: 6px;
        width: 96%;
        overflow-y: auto;
        .item-demuc:hover {
            background-color: #f5faff;
        }
    }
}