<div fxLayout="column" class="dform-child-content">
    <h2 class="title-page">{{ 'shareholder_management.main' | translate }}</h2>
    <div class="panel panel-bottom">
        <div class="panel-body">
            <mat-tab-group mat-align-tabs="start">
                <mat-tab class="title-tab-content" label="Báo cáo cổ đông">
                    <app-report-management></app-report-management>
                </mat-tab>
                <mat-tab class="title-tab-content" label="Truy vấn thông tin cổ đông">
                    <app-query-info-management></app-query-info-management>
                </mat-tab>
            </mat-tab-group>
        </div>
    </div>    
</div>