<div class="mat-dform-title header-dialog-dform fc-primary">
    <div class="header-dialog-title fc-primary">
        {{data?.data?.id ? 'Chỉnh sửa thông tin cổ đông lớn' : 'Thêm mới thông tin cổ đông lớn' }}
    </div>
    <button mat-icon-button (click)="closeDialog()">
        <mat-icon>close</mat-icon>
    </button>
</div>
<div mat-dialog-content class="dform-dialog-content">
    <div class="panel-body">
        <form [formGroup]="form">
            <div fxLayout="row wrap">
                <sm-text-control [item]="stt" fxFlex="30" [form]="form"></sm-text-control>
                <sm-text-control [item]="cdl" fxFlex="70" [form]="form"></sm-text-control>
                <sm-text-control [item]="soDksh" fxFlex="50" [form]="form"></sm-text-control>
                <sm-text-control [item]="ngayCap" fxFlex="50" [form]="form"></sm-text-control>
                <sm-text-control [item]="noiCap" fxFlex="50" [form]="form"></sm-text-control>
                <sm-text-control [item]="diaChi" fxFlex="50" [form]="form"></sm-text-control>
                <sm-text-control [item]="tenNguoiDaiDienVon" fxFlex="50" [form]="form"></sm-text-control>
                <sm-text-control [item]="chucVuTaiDonVi" fxFlex="50" [form]="form"></sm-text-control>
                <sm-text-control [item]="cmtNguoiDaiDien" fxFlex="50" [form]="form"></sm-text-control>
                <sm-text-control [item]="nganhNghe" fxFlex="50" [form]="form"></sm-text-control>
                <!-- <sm-date-control [item]="ngayHieuLuc" fxFlex="50" [form]="form" *ngIf="!data?.data?.id"></sm-date-control> -->
            </div>
        </form>
    </div>
</div>
<div mat-dialog-actions class="actions-dialog-dform" fxLayout="row" fxLayoutAlign="end">
    <button class="btn btn-light-blue btn-xs" (click)="closeDialog()">
        <span>Trở lại</span>
    </button>
    <button class="btn btn-primary btn-xs mrl-4" (click)="saveData()">
        <span>Xác nhận</span>
    </button>
</div>