<div class="panel-body-table">
    <div class="table-over">
      <table class="dform-table table-info w-full table-service service-table" mat-table
      [dataSource]="dataSource" matSort [@.disabled]="true">

      <ng-container matColumnDef="stt" sticky>
        <th mat-header-cell *matHeaderCellDef class="df-min-3 text-left">{{'STT'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-3">
          <div class="padding-cell-item">
            <span>
              {{ element?.stt }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="hoTen" sticky>
        <th mat-header-cell *matHeaderCellDef class="df-min-12 text-left">{{'Họ tên'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-12">
          <div class="padding-cell-item">
            <span>
              {{ element?.hoTen }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="soDksh" sticky>
        <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Số DKSH'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
          <div class="padding-cell-item">
            <span>
              {{ element?.soDksh }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="ngayCap">
        <th mat-header-cell *matHeaderCellDef class="df-min-7 text-left">{{'Ngày cấp'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-7">
          <div class="padding-cell-item">
            <span>
              {{ element?.ngayCap }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="diaChiVsd">
        <th mat-header-cell *matHeaderCellDef class="df-min-15 text-left">{{'Địa chỉ'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-15">
          <div class="padding-cell-item">
            <span>
              {{ element?.diaChiVsd }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="loaiCk">
        <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Loại CK'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
          <div class="padding-cell-item">
            <span>
              {{ element?.loaiCk }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="ngayPhatSinh">
        <th mat-header-cell *matHeaderCellDef class="df-min-12 text-left">{{'Ngày phát sinh'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-12">
          <div class="padding-cell-item">
            <span>
              {{ element?.ngayPhatSinh }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="noiDung">
        <th mat-header-cell *matHeaderCellDef class="df-min-12 text-left">{{'Nội dung'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-12">
          <div class="padding-cell-item">
            <span>
              {{ element?.noiDung }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="nhap">
        <th mat-header-cell *matHeaderCellDef class="df-min-7 text-left">{{'Nhập'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-7">
          <div class="padding-cell-item">
            <span>
              {{ element?.nhap | mbbCurrency }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="xuat">
        <th mat-header-cell *matHeaderCellDef class="df-min-7 text-left">{{'Xuất'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-7">
          <div class="padding-cell-item">
            <span>
              {{ element?.xuat | mbbCurrency }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef class="df-min-5 text-left"></th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-5">
          <div class="padding-cell-item">
            <button *ngIf="element?.soDksh" mat-icon-button class="material-icons app-toolbar-menu save-button fc-primary"
                matTooltip="Edit" color="primary" (click)="onExport(element,i)">
                <mat-icon>cloud_download</mat-icon>
            </button>
          </div> 
        </td>
      </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
</div>