.panel-body-table {
  z-index: 0;
}
.bottom-padding {
  bottom: 30%;
}
.column-absolute {
  position: absolute;
}

.example-container {
  height: 600px;
  overflow: auto;
  table {
    width: 100%;
  }
}

.top-padding {
  top: 25%;
  max-width: 80rem;
}
.column-absolute {
  position: absolute;
}