.panel-body-table {
  z-index: 0;
}

.column-absolute {
  position: absolute;
}
.example-container {
  height: 600px;
  overflow: auto;
  table {
    width: 100%;
  }
}

.top-padding {
  top: 30%;
  max-width: 100rem;
}
.column-absolute {
  position: absolute;
}