@import "src/assets/ati/common.scss";

#password{
    -webkit-text-secutiry:disc
}

.content-login{
    height: 100vh;
    padding: 3rem;
    background-color: #f6f6f6;
    .ati-avatar{
        margin-bottom: 4.2rem;
        img{
            height: 100px;
        }
    }
    .ati-title{
        font-size: 35px;
        font-weight: 800;
        margin-bottom: 0.5rem;
        font-family: Extrabold;
        color: #303030;
    }
    .ati-sub-title{
        font-size: 16px;
        font-weight: 600;
        color: #b2b2b2;
        margin-bottom: 3.8rem;
        font-family: Semibold;
    }
    .ati-content-login {
        .form-group-login {
            background-color: $color-neutral-white;
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            margin-bottom: 1px;
            padding: 14px 21px 14px 21px !important;
            position: relative;
            font-family: Semibold;
        }
    
        .form-remark {
            margin-top: 1rem;
            font-family: RobotoItalic !important;
            font-size: 1rem;
            color: $color-sematic-error !important;
        }

        .login-button{
            padding-top: 1.1rem;
            padding-bottom: 1.1rem;
            padding-left: 1.7rem;
            justify-content: space-between !important;
            width: 100%;
            font-weight: 600;
            margin-top: 2.28rem;
        }
        .register-email{
            padding-top: 1.1rem;
            padding-bottom: 1.1rem;
            justify-content: center !important;
            width: 100%;
            font-weight: 600;
            margin-top: 2.28rem;
        }
        .view-info-otp {
            border-radius: 5px;
            background-color: $color-light-blue;
        }
        .pass-register-email {
            color: $color-blue-primary;
            cursor: pointer;
        }
    }
    .ati-login-footer{
        position: absolute;
        bottom: 36px;
        .login-footer-top {
            font-size: 16px;
            font-weight: 600;
            color: $color-gray-700;
            margin-bottom: 1rem;
            font-family: Semibold;
        }
        .login-footer-bot {
            font-size: 10px;
            font-weight: 500;
            color: $color-gray-700;
            margin-bottom: 0rem;
        }
    }
}

.right-login{
    height: 100vh;
    img{
        height: 100vh;
        width: 100vw;
    }
}
.swiper-pagination {
    left: 30px !important;
    text-align: left;
    bottom: 26px !important;
}
.swiper-button-prev{
    top: auto;
    bottom: 26px;
    left: auto;
    right: 62px !important;
}
.swiper-button-next{
    top: auto;
    bottom: 26px;
    right: 30px
}
.swiper-button-prev:after, .swiper-button-next:after {
    font-size: 14px;
    font-weight: bold;
    color: $color-neutral-white;
}
.swiper-container {
    position: relative;
    top: 0;
    left: 0;
}

.swiper-slide {
    color: $color-gray-700;
    background-color: $color-neutral-white;
}
  
.swiper-slide-active {
    color: $color-neutral-white;
    background-color: $color-gray-700;
}
.Title_slider1 {
    position: absolute;
    margin: 0 auto;
    top: 45%;
    text-align: center;
    h1 {
        font-size: 80px !important;
        line-height: 70px;
        font-family: Arial, Helvetica, sans-serif;
    }
    b{
        font-size: 22px;
    }
}
.Title_slider2 {
    position: absolute;
    left: 5%;
    top: 4%;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 70px;
}
.btn-auth-other-acc {
    cursor: pointer;
    .back-icon {
        transform: rotate(180deg);
    }
    .title-other-account {
        color: $color-blue-primary;
    }
}

.view-auth-otp {
    padding: 1.5rem;
    &.comp-login{
        background: $color-neutral-white;
        padding: 1rem 1.5rem !important;
        border-radius: 0.5rem;
    }
    &.comp-email{
        background: $color-neutral-white;
        border-radius: 0.5rem;
    }
    .username {
        color: $color-blue-primary;
        font-weight: bold;
        font-size: 14pt;
    }
    .time-expire-otp {
        background-color: $color-blue-primary;
        border-radius: 3px;
        min-width: 7rem;
        text-align: center;
        .time {
            color: $color-neutral-white;
        }
    }
    .btn-send-back {
        cursor: pointer;
    }
    .input-otp {
        &:-ms-input-placeholder {
            color: $color-gray-custom;
            font-size: pxtorem(12);
        }
        
        &::-ms-input-placeholder {
            color: $color-gray-custom;
            font-size: pxtorem(12);
        }
        ::placeholder {
            color: #303030;
        }
        .placeholder {
            color: #303030;
        }
    }
   
}

::ng-deep .mat-form-field-underline {
    display: none;
}

@media only screen and (max-height: 800px) {
   .ati-login-footer{
       display: none;
   }
}

