<div fxLayout="row" fxLayoutAlign="space-between">
  <div fxFlex.gt-sm="70" fxLayoutAlign="center center">
    <div>
      <picture>
        <source media="(min-width:640px)" srcSet="assets/images/logo.png"/>
        <img srcSet="assets/images/logo.png" />
      </picture>
    </div>
  </div>
  <div fxFlex.gt-sm="30" fxFlex="100" class="content-login">
    <div fxLayout="column" fxLayoutAlign="space-around">
      <div fxFlex="100" class="ati-avatar">
        <img src="assets/images/logo.png" alt="avatar-ati" class="item-logo"/>
      </div>
      <div fxFlex="100" class="ati-title">
        <span>QLCĐ</span>
      </div>
      <div fxFlex="100" class="ati-sub-title">
        <span>Hệ thống quản lý cổ đông</span>
      </div>
      <div fxFlex="100" class="ati-content-login">
        <form class="mrt-4" (ngSubmit)="loginAction()" [formGroup]="form">
          <mat-form-field class="form-group-login">
            <mat-label>Tài khoản</mat-label>
            <input #username matInput formControlName="username" autofocus>
          </mat-form-field>
          <mat-form-field class="form-group-login">
            <mat-label>Mật khẩu</mat-label>
            <input matInput class="form-control" [type]="isHide ? 'password' : 'text'" formControlName="password"
              autocomplete="off" id="passwordLogin">
            <mat-icon matSuffix (click)="isHide = !isHide">{{isHide ? "visibility_off" : "visibility"}}</mat-icon>
            <!-- <mat-icon matSuffix (click)="isHide = !isHide" class="mbb-icon fc-primary lg cursor-pointer"
              [class]="isHide ? 'ic-hidden_eye' : 'ic-eye'"></mat-icon> -->
          </mat-form-field>
          <!-- <div *ngIf="errorData !== ''" class="form-remark" fxLayout="row" fxLayoutAlign="start center">
            <mat-icon class="mbb-icon ic-error sm fc-error">
            </mat-icon>
            <span [innerHTML]="errorData | translate"></span>
            {{ errorData | translate}}
          </div> -->
          <button 
            class="btn btn-primary login-button"
            type="submit">
            {{'Đăng nhập' | translate | uppercase}}
            <mat-icon>keyboard_return</mat-icon>
        </button>
        </form>
      </div>
    </div>
  </div>
</div>