<div class="pdl-2 pdr-2"
     [ngClass]="{'control-error': isValidControl(item.key)}">
  <div fxLayout="row"
       fxLayoutAlign="space-between center">
    <label class="form-label">{{item.label}}
      <mat-icon *ngIf="isValidControl(item.key)"
                class="mbb-icon ic-error sm fc-error mrl-1">
      </mat-icon>
      <span *ngIf="item.required && !isValidControl(item.key)"
            class="fc-error mrl-1">*</span>
    </label>
  </div>

  <!-- CASE TEXTAREA -->
  <div class="form-group"
       [formGroup]="form"
       [class.error]="isValidControl(item.key)">
    <div class="form-input-row">
      <textarea matInput
                class="form-control form-text-area"
                [formControlName]="item.key"
                [placeholder]="item.placeholder | translate"
                cdkTextareaAutosize
                cdkAutosizeMinRows="2"
                [maxlength]="item.maxLength"
                [dformItem]="item.directives"></textarea>
    </div>
    <div *ngIf="isValidControl(item.key, 'required')"
         class="form-remark">
      {{'validations.required' | translate}}
    </div>
    <div *ngIf="isValidControl(item.key, 'maxlength')"
         class="form-remark">
      {{'validations.maxlength' | translate : ({ number: item.maxLength })}}
    </div>
    <div *ngIf="isValidControl(item.key, 'minlength')"
         class="form-remark">
      {{'validations.minlength' | translate : ({ number: item.minLength })}}
    </div>
  </div>

</div>