<div class="panel-body-table">
    <div class="table-over">
      <table class="dform-table table-info w-full table-service service-table" mat-table
      [dataSource]="dataSource" matSort [@.disabled]="true">
        
        <ng-container *ngFor="let item of displayedColumns" [matColumnDef]="item">
          <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{_renderTitle(item)}}</th>
          <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
              <div class="padding-cell-item">
                  <span>
                    {{ _shareholderService._renderValueCurrency(element[item], item) }} 
                  </span>
              </div> 
          </td>
        </ng-container>

        <ng-container matColumnDef="header-row-stt-group">
          <th mat-header-cell *matHeaderCellDef 
              [style.text-align]="center"
              [attr.colspan]="1"> 
            STT
          </th>
        </ng-container>

        <ng-container matColumnDef="header-row-coDong-group">
          <th mat-header-cell *matHeaderCellDef 
              [style.text-align]="center"
              [attr.colspan]="1"> 
            Cổ Đông
          </th>
        </ng-container>

        <ng-container matColumnDef="header-row-dkkd-group">
          <th mat-header-cell *matHeaderCellDef 
              [style.text-align]="center"
              [attr.colspan]="1"> 
            ĐKKD
          </th>
        </ng-container>

        <!-- Header row first group -->
        <ng-container *ngFor="let item of listColumnGroup; let i = index" [matColumnDef]="_renderColumsIndex(i)">
          <th mat-header-cell *matHeaderCellDef 
              [style.text-align]="center"
              [attr.colspan]="3"> 
            {{_rendertitleMouth(i)}}
          </th>
        </ng-container>

        <ng-container matColumnDef="header-row-tyLeSoHuuThayDoi-group">
          <th mat-header-cell *matHeaderCellDef 
              [style.text-align]="center"
              [attr.colspan]="1"> 
            Tỷ lệ % sở hữu thay đổi trong kỳ
          </th>
        </ng-container>

        <ng-container matColumnDef="header-row-ghiChu-group">
          <th mat-header-cell *matHeaderCellDef 
              [style.text-align]="center"
              [attr.colspan]="1"> 
            Ghi chú
          </th>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="_renderHeaderColums()"></tr>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
</div>