<div fxLayout="column">
  <div class="panel dform-child-content">
    <div class="panel-body pdb-5">
      <form class="panel-body panel-padding" [formGroup]="form" fxLayout="row wrap" (ngSubmit)="searchReport()">
        <sm-text-control [item]="ownerRegisterNumber" fxFlex="50" [form]="form"></sm-text-control>
        <sm-text-control [item]="tenTNCN" fxFlex="50" [form]="form"></sm-text-control>
        <div fxLayoutAlign="end center">
          <button type="submit" fxFlex="25" class="btn btn-primary mrr-2">
            <mat-icon class="mbb-icon mrl-2">search</mat-icon>
            <span>Tìm kiếm</span>
          </button>
        </div>
      </form>
    </div>
  </div>
  <app-table-C2
    class="table-info"
    [dataSource]="dataSource"
    [hasDataSource]="hasDataSource"
    (emitUpdate)="emitUpdate($event)">
  </app-table-C2>

  <div class="panel-footer">
    <dform-pagination-plus class="fullWidth" #pagePage showPageSelect [pageIndex]="pageIndex"
        (page)="ChanePageIndex($event);" [totalItem]="totalItem" [pageSize]="pageSize" [showPageSizeList]="true"
        [isLoadServer]="true" [pageSizeList]="[10, 20, 50, 100]">
    </dform-pagination-plus>
  </div>
</div>

<div class="panel">
  <app-no-data *ngIf="hasDataSource === false"></app-no-data>
</div>