<div class="panel-body-table">
    <div class="table-over">
      <table class="dform-table table-info w-full table-service service-table" mat-table
      [dataSource]="dataSource" matSort [@.disabled]="true">

      <ng-container matColumnDef="stt" sticky>
        <th mat-header-cell *matHeaderCellDef class="df-min-3 text-left">{{'STT'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-3">
          <div class="padding-cell-item">
            <span>
              {{ element?.stt }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="tenTcCn" sticky>
        <th mat-header-cell *matHeaderCellDef class="df-min-15 text-left">{{'Tên TcCn'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-15">
          <div class="padding-cell-item">
            <span>
              {{ element?.tenTcCn }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="soDksh" sticky>
        <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Số DKSH'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
          <div class="padding-cell-item">
            <span>
              {{ element?.soDksh }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="batDau">
        <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Ngày bắt đầu'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
          <div class="padding-cell-item">
            <span>
              {{ element?.batDau }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="ketThuc">
        <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Ngày kết thúc'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
          <div class="padding-cell-item">
            <span>
              {{ element?.ketThuc }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="soLuongDkGd">
        <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Số lượng DKGD'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
          <div class="padding-cell-item">
            <span>
              {{ element?.soLuongDkGd | mbbCurrency }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="thucTeGd">
        <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Thực tế GD'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
          <div class="padding-cell-item">
            <span>
              {{ element?.thucTeGd | mbbCurrency }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="cbttDkGd">
        <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'cbtt DkGd'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
          <div class="padding-cell-item">
            <span>
              {{ element?.cbttDkGd }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="cbttKqGd">
        <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'cbtt KqGd'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
          <div class="padding-cell-item">
            <span>
              {{ element?.cbttKqGd }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="giaiToaMbs">
        <th mat-header-cell *matHeaderCellDef class="df-min-8 text-left">{{'Giải tỏa MBS'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-8">
          <div class="padding-cell-item">
            <span>
              {{ element?.giaiToaMbs }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="email">
        <th mat-header-cell *matHeaderCellDef class="df-min-12 text-left">{{'email'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-12">
          <div class="padding-cell-item">
            <span>
              {{ element?.email }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="ghiChu">
        <th mat-header-cell *matHeaderCellDef class="df-min-10 text-left">{{'Ghi chú'}}</th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-10">
          <div class="padding-cell-item">
            <span>
              {{ element?.ghiChu }} 
            </span>
          </div> 
        </td>
      </ng-container>

      <ng-container matColumnDef="action" stickyEnd>
        <th mat-header-cell *matHeaderCellDef class="df-min-5 text-left"></th>
        <td mat-cell *matCellDef="let element;" class="text-left center-cell-item df-min-5">
          <div class="padding-cell-item">
            <button mat-icon-button class="material-icons app-toolbar-menu save-button fc-primary"
                matTooltip="Chỉnh sửa" color="primary" (click)="onEdit(element,i)">
                <mat-icon>edit</mat-icon>
            </button>
          </div> 
        </td>
      </ng-container>
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
</div>