@import '../style/variables';
@import '../style/transitions';
@import '../style/badge';

.dform-sidemenu {
  width: $sidenav-width;
  margin: 0;
  padding: 0;
  list-style: none;

  .dform-sidemenu-item {
    display: block;
    height: auto;
    padding: 0;

    &.open {
      > .dform-sidemenu {
        max-height: 2000px;
      }

      > .dform-sidemenu-toggle > .menu-caret {
        transform: rotate(90deg);
      }
    }
  }

  a {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 8px 8px 13px;
    font-weight: 600;
    text-decoration: none;
    color: $color-gray-800;
  }

  .mat-icon.menu-icon {
    width: 18px;
    height: 18px;
    margin-right: 15px;
    font-size: 24px;
    // line-height: 18px;

    [dir='rtl'] & {
      margin-left: 16px;
      margin-right: auto;
    }
  }

  .mat-icon.menu-caret {
    display: block;
    text-align: center;
    transition: fast-out-slow(transform);
    font-size: 1.2rem;
    margin-top: 4px;
  }

  .menu-name,
  .menu-label,
  .menu-badge {
    transition: swift-ease-out(opacity);
  }

  .menu-label,
  .menu-badge {
    @include badge();
  }

  .menu-badge {
    border-radius: 10px;
  }

  &.level-0 > li > a > .menu-name {
    margin-right: 5px;
    font-family: Semibold;
    font-size: 14px;
    [dir='rtl'] & {
      margin-left: 5px;
      margin-right: auto;
    }
  }

  &.level-1 > li > a {
    padding-left: 19px;
    padding-top: 10px ;
    padding-bottom: 10px ;
    font-size: 12px;
    // font-family: Semibold;
    [dir='rtl'] & {
      padding-left: 16px;
      padding-right: 50px;
    }
  }

  &.level-2 > li > a {
    padding-left: 64px;

    [dir='rtl'] & {
      padding-left: 16px;
      padding-right: 64px;
    }
  }

  &.submenu {
    max-height: 0;
    padding-top: 0;
    overflow: hidden;
    transform: translateZ(0) !important;
    transition: fast-out-slow(max-height);

    .dform-sidemenu-item {
      border-left-width: 0;
    }
  }
}
