<div fxLayout="column">
  <div class="panel dform-child-content">
    <div class="panel-body pdb-5">
      <form class="panel-body panel-padding" [formGroup]="form" fxLayout="row wrap" (ngSubmit)="searchReport()">
        <sm-select-control [item]="reportType" fxFlex="50" [form]="form"></sm-select-control>
        <sm-date-control [item]="reportDate" fxFlex="50" [form]="form"></sm-date-control>
        <div fxLayoutAlign="end center">
          <button *ngIf="dataSource?.data?.length" type="button" fxFlex="25" class="btn btn-primary mrr-2" (click)="exportExcel()">
            <mat-icon> import_export</mat-icon>
            <span>Xuất excel</span>
          </button>
          <button type="submit" fxFlex="25" class="btn btn-primary mrr-2">
            <mat-icon class="mbb-icon mrl-2">search</mat-icon>
            <span>Tìm kiếm</span>
          </button>
        </div>
      </form>
    </div>
  </div>

  <div *ngIf="hasDataSource">
    <div *ngIf="showtable == BC_TYPE.CDLON_NLQ; else defaultTable">
      <app-table-BC12
        class="table-info"
        [dataSource]="dataSource"
        [hasDataSource]="hasDataSource"
        (delete)="onDeleteData($event)"
        >
      </app-table-BC12>
    </div>
    
    <ng-template #defaultTable>
      <app-table-BC9-BC11
        class="table-info"
        [dataSource]="dataSource"
        [hasDataSource]="hasDataSource"
        (delete)="onDeleteData($event)">
      </app-table-BC9-BC11>
    </ng-template>
  </div>
</div>

<div class="panel">
  <app-no-data *ngIf="hasDataSource === false"></app-no-data>
</div>